{#
    This is an anonymous Components

    Sometimes a component is simple enough that it doesn't need a PHP class. 
    In this case, you can skip the class and only create the template. The 
    component name is determined by the location of the template
#}
<button>This is a secondary button</button>
