<div {{ attributes }}>

    <div>
        <input type="file" name="my_file" />
    </div>
    
    <div>
        <input type="file" name="multiple[]" multiple />
    </div>

    <div>
        <button
            data-action="live#action"

            {#
                To send a file (or files) with an action use files modifier. Without 
                an argument it will send all pending files to your action. You can also 
                specify a modifier parameter to choose which files should be upload.

                // Send only file from first input
                <button data-action="live#action" data-live-action-param="files(my_file)|myAction">Upload</button>

                // You can chain modifiers to send multiple files
                <button data-action="live#action" data-live-action-param="files(my_file)|files(multiple[])|myAction" >Upload</button>

                // Or send all pending files
                <button data-action="live#action" data-live-action-param="files|myAction" >Upload</button>
            #}
            data-live-action-param="files|upload"

        >
            Upload
        </button>

        <button
            data-action="live#action"
            data-live-action-param="download"
        >
            Download
        </button>
    </div>
</div>